@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  margin: 0;
  display: flex;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
nav button:hover {
  color: #deefef;
  cursor: pointer;
}

nav {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

.venueForm div label,
.profileForm div label {
  font-size: small;
}

.venueForm div input,
.venueForm div select,
.venueForm div textarea,
.profileForm div input,
.profileForm div select,
.profileForm div textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  nav a:hover {
    color: #deefef;
  }
}
